.cart{
    position: sticky;
    top: 0;
    padding: 14px;
}
.align{
    text-align: center;
}
.btn{

    padding: 15px;
    margin: 10px 10px 10px 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}
.btn:hover{
    background-color: #ff9e0e;
    color: black;
}